#mainKnobPanel{
    width: 100%;
    position: relative;
    height: 500px;
    opacity: 1;
    color: #ffffff;
    border: 1px solid #3d3a3a;
    background-image: linear-gradient(150deg, rgb(7, 1, 1),rgb(7, 1, 1), rgb(31, 27, 27), rgb(19, 13, 13));
}

#mainKnobPanel h2{
   text-align: center;
   margin-bottom: 0;
}

#mainKnobPanel hr{
    margin: auto;
    width: 90%;
}

#saveChangeBtnBorder{
    width: 100%;
    background: linear-gradient(30deg,red 5%, white, rgb(124, 27, 27), rgb(124, 27, 27), rgb(124, 27, 27));
    margin-bottom: 10px;
    padding: 2px 0;
    text-align: center;
    position: relative;
    box-shadow: rgb(7, 1, 1) 0 3px 2px;
}

#saveChangeBtn{
    width: 96%;
    font-weight: bold;
    color: #fff;
    background-image: linear-gradient(80deg, red 2%, rgb(252, 149, 149), rgb(177, 2, 2), red);
    border: 0;
    position: relative;
}

#chordMarks{
    height: 270px;
    top: 100px;
    left: 20px;
    position: absolute; 
    /* border: 1px solid #3d3a3a; */
}

.the-chord, .empty-note{
    height: 54px;
    line-height: 54px;
    margin: 0;
    font-size: 2em;
    vertical-align: middle;
}

.the-chord-current{
    color: #FF0000;
}

.empty-note{
    color: #524545;
}

#mainKnobGrove{
    width: 6px;
    height: 270px;
    position: absolute;
    top: 100px;
    left: 60%;
    border: 1px solid #3d3a3a;
    background-image: linear-gradient(90deg,rgb(31, 27, 27), rgb(7, 1, 1), rgb(19, 13, 13));
    /* z-index: -1; */
}